<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/preload.php" verbose="true" colors="true">
    <testsuites>
        <testsuite name="Pheral Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>